body {
	margin: 0;
	padding: 0;
	background: url("html/flower.jpg") no-repeat;
}
.container {	
	width: 300px;
	height: 450px;
	border: 1px solid #05CA53;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.image {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: calc(50% - 40px);
	
	
	
}